absl-py==0.11.0
adjustText==0.7.3
aiodns==2.0.0
aiohttp==3.6.3
aiohttp-socks==0.4.1
anytree==2.8.0
apex==0.1
ase==3.20.1
astunparse==1.6.3
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
bioinfokit==1.0.0
blinker==1.4
blis==0.4.1
boto3==1.16.2
botocore==1.19.2
cachetools==4.1.1
catalogue==1.0.0
cchardet==2.1.6
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
conda-package-handling==1.7.0
cryptography==2.9.2
cycler==0.10.0
cymem==2.0.3
dataclasses==0.6
decorator==4.4.2
dgl==0.4.3
elasticsearch==7.9.1
en-core-web-sm==2.3.1
faiss==1.6.4
fake-useragent==0.1.11
filelock==3.0.12
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.3.3
geographiclib==1.50
geopy==2.0.0
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
googledrivedownloader==0.4
googletransx==2.4.2
grpcio==1.31.0
h5py==2.10.0
idna==2.9
importlib-metadata==2.0.0
isodate==0.6.0
jieba==0.42.1
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
littleutils==0.2.2
llvmlite==0.35.0
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.2
matplotlib-venn==0.11.5
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
multidict==4.7.6
murmurhash==1.0.2
networkx==2.5
nltk==3.5
numba==0.52.0
numpy==1.19.2
oauthlib==3.1.0
ogb==1.2.4
OpenHowNet==0.0.1a11
opt-einsum==3.1.0
outdated==0.2.0
packaging==20.8
pandas==1.1.3
patsy==0.5.1
Pillow==8.0.0
plac==1.1.3
preshed==3.0.2
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==3.1.1
pycosat==0.6.3
pycparser==2.20
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
python-louvain==0.15
pytorch-transformers==1.2.0
pytz==2020.5
rank-bm25==0.2.1
rapidfuzz==0.14.1
rdflib==5.0.0
regex==2020.10.15
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.6
ruamel-yaml==0.15.87
s3transfer==0.3.3
sacremoses==0.0.43
schedule==0.6.0
scikit-learn==0.23.2
scipy==1.5.3
seaborn==0.11.0
sentencepiece==0.1.91
six==1.14.0
sklearn==0.0
soupsieve==2.0.1
spacy==2.3.2
srsly==1.0.2
statsmodels==0.12.0
tabulate==0.8.7
tensorboard==2.3.0
tensorboard-plugin-wit==1.6.0
tensorboardX==2.1
tensorflow==2.3.0
tensorflow-estimator==2.3.0
tensorflow-hub==0.8.0
termcolor==1.1.0
textwrap3==0.9.2
thinc==7.4.1
threadpoolctl==2.1.0
tokenizers==0.9.3
torch==1.4.0
torch-geometric==1.6.3
torch-scatter==2.0.5
torch-sparse==0.6.8
tqdm==4.55.1
transformers==2.3.0
twint==2.1.21
typing-extensions==3.7.4.3
urllib3==1.25.8
wasabi==0.8.0
Werkzeug==1.0.1
wilds==1.0.0
wrapt==1.12.1
yarl==1.6.2
zipp==3.4.0
